<% unless comment.archived? %>
  <p>
    <strong>Write a note:</strong>
    <%= comment.note %>
  </p>
  <p>
  <%= link_to "Destroy note", [comment.todo, comment], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
</p>
<% end %>