

<h1 class="title">To Do</h1>
<p class="title" In this section you can see all your to do></p>
  <% @todos.each do |todo| %>
  <div class="card" style="display: flex !important;flex-direction: row;margin-bottom: 15px;justify-content: center; height: 50px; ">
  <ul style="align-self: center;">
     <li>
        <%= link_to todo.task, todo %>
     </li>
  </ul>
</div>
  <% end %>
<div class="button">
  <%= link_to "Add a new to do", new_todo_path %>
</div>

