

<h1 class="title">To Do</h1>
You have <%= Todo.public_count %> tasks and counting!
<p class="title" In this section you can see all your to do></p>
  <% @todos.each do |todo| %>
  <div class="card" style="display: flex !important;flex-direction: row;margin-bottom: 15px;justify-content: center; height: 50px; ">
  <ul style="align-self: center;">
      <% unless todo.archived? %>
        <li>
            <%= link_to todo.task, todo %>
        </li>
      <% end %>
  </ul>
</div>
  <% end %>
<div class="button">
  <%= link_to "Add a new to do", new_todo_path %>
</div>

